h1 {
  padding: 10px 20px;
  color: rgb(254, 255, 255);
  border-bottom: 2px solid rgb(199, 176, 255);
}

a {
  text-decoration: none;
}

a:hover {
  color: hotpink;
}

button:hover {
  background: rgb(138, 92, 255);
}