.Weather {
    width: 75%;
    margin-top: 10px;
}

.Weather button.search,
.Weather button.locate {
    padding: 5px;
    margin: 4px;
    font-size: 25px;
    background: transparent;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 2px 3px rgb(210, 208, 208);
}

.Weather.loader {
    display: flex;
    justify-content: center;
}

button:hover,
.Weather button:hover {
    background: rgb(138, 92, 255);
}

.Weather input.city {
    width: 70%;
    padding: 2%;
    padding-left: 20px;
    font-size: 18px;
    border-radius: 50px;
    border: 1.5px solid rgb(138, 92, 255);
    background: transparent;
    color: whitesmoke;
}

.Weather input.city:focus {
    outline: none;
    border: 2px solid rgb(138, 92, 255);
}

.search-bar {
    width: 95%;
    display: flex;
    margin-left: 3%;
    columns: 3;
    column-gap: 18px;
}

.city-weather-data {
    width: 90%;
    margin: 5% auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.temperature {
    width: 60%;
    padding: 10px 5%;
    border: 2px solid rgb(225, 145, 249);
    /* box-shadow: 0px 0px 10px rgb(255, 111, 111); */
    box-shadow: 0px 0px 10px rgb(138, 92, 255);
}

.overview {
    display: flex;
    border: solid rgb(199, 176, 255);
    padding: 0.5em;
    margin: 2px auto;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(109.6deg,
            rgba(252, 186, 186, 0.961),
            rgb(72, 20, 123) 70.2%);
}

.icon {
    width: 64px;
    padding: 0;
    align-self: flex-start;
}

.overview .icon {
    width: 120px;
}

.units {
    position: relative;
    top: -15px;
    font-size: 20px;
}


.Weather canvas {
    margin: 10px auto;
}

.extra-info {
    padding: 4% 7%;
    margin: 20px auto;
    line-height: 1em;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.1em rgb(157 99 205 / 89%);
    box-shadow: 0.5em 0.5em #dfd7ff;
    background: radial-gradient(circle at 14.2% 27.5%,
            rgb(224, 124, 124),
            rgb(72, 20, 139) 90%);
}

.weather-forecast {
    width: 100%;
    background: linear-gradient(109.6deg, rgb(84, 10, 42), rgb(43, 1, 91) 100.2%);
    border-radius: 0px 13px;
    padding: 3%;
    margin-right: 10%;
    font-family: "Segoe UI";
}

.weather-forecast-temperature {
    width: fit-content;
    display: flex;
    background: linear-gradient(109.6deg,
            rgb(61, 106, 239) 11.2%,
            rgb(122, 14, 190) 70.2%);
    border-radius: 50px;
    padding: 1%;
    margin: 2px;
    justify-content: space-around;
    align-items: center;
}

#temperature-min {
    opacity: 0.7;
}

@media screen and (max-width: 676px) {
    .Weather {
        width: 100%;
    }
}

@media screen and (max-width: 1100px) {

    .extra-info,
    .temperature {
        width: 100%;
    }

    .overview {
        padding: 10px;
    }
}